// Заголовки, общие БЄМ блоки и проче...
.pre-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;

  @include media(576) {
    font-size: 26px;
  }
}


img {
  max-width: 100%;
  height: auto;
}

//FF3F3A
