/* Шаблоны (заготовки)
* @extend %имя шаблона;
*/
// Счетчик для списка
%listCounter {
  list-style-type: none;
  counter-reset: item;

  li {
    position: relative;

    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

// Адаптивное видео
%responsiveVideo {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Видео в качестве фона
%videoBackground {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

// Серый фильтр
%grayfilter {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);

  @media (any-hover: hover) {
    &:hover {
      filter: grayscale(0);
    }
  }
}

// Отменить выделение
%noselect {
  user-select: none;
}

// Зеркальное отображение
%mirror {
  transform: scale(-1, 1);
}

// Плавный скролл
%smoothscroll {
  -webkit-overflow-scrolling: touch;
}

// Скрыть скролл
%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

%btn {
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: $redColor;
  border-radius: 4px;
  border: 1px solid $redColor;
  padding: 0 40px;
  display: inline-block;
  transition: 0.35s;

  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    transition: 0.35s;
  }
}

%flex {
  display: flex;
  align-items: center;
}

%default-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
